---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Astro Needles.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro Needles</span></h1>
		<a href="/needles">
			<p class="instructions">
				Go to needle stack &gt;
			</p>
		</a>
	</main>
</Layout>
