---
const { msg } = Astro.props;
---
<div class="attachments">
  {msg.attachments && msg.attachments.map((attach) => (
    <div class="item">
      <a href={attach.url} target="_blank">
        <img src={attach.url} height="140" />
        <br/>{attach.contentType}
      </a>
    </div>
  ))}
</div>

<style>
.attachments { margin:0; overflow:auto; }
.attachments .item { float:left; margin:10px; padding:5px; font-size:.6em; border:1px solid #ccc; border-radius:5px; background:#f3f3f3; }
</style>
